P




{     


color:aquamarine;
font-weight: lighter;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: x-large;



}
body{  
background-color: bisque;


}
img{
width: 500px;
border: 10px;
border-style: dashed;
}